torch
torchvision
torchaudio
lightning==2.1.1
lightning-bolts
pytorch-lightning
seaborn
torchmetrics
tqdm
numpy
matplotlib
pandas
scikit-learn
scikit-learn-intelex
scikit-image
xarray_leaflet
leafmap
owslib
pyogrio
localtileserver
exifread
boto3
shapely
geopandas
gdal
xarray
rasterio
pyproj
geopy
pathify
git+https://github.com/facebookresearch/segment-anything.git
segment-geospatial
git+https://github.com/Rusteam/segmentation_models.pytorch.git@sam
kornia[x]
einops
